Source: gyazo
Section: graphics
Priority: optional
Maintainer: TJ Horner <geekygamer14@iquestria.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://gyazo.iquestria.net/

Package: gyazo
Architecture: all
Depends: ruby, imagemagick, bundler
Description: LOL MODDED
 Gyazo modded to work with iQuestria.