[Desktop Entry]
Name=iQuestria Gyazo
Version=1.0
Comment=1337 H4X0R
Exec=gyazo
Terminal=false
Type=Application
Icon=gyazo
Categories=Utility;Graphics;
StartupNotify=false